# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build 
backend/output/
backend/uploads/
backend/pretrained_models/

# Sistema operacional
.DS_Store
Thumbs.db

# Python virtual environment
spleeter-env/

# Logs
*.log

# VS Code
.vscode/

# Arquivos temporários
*.tmp
*.temp
